*{
    margin: 0;
}
#heading{
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#toe{
    display: flex;
    justify-content: center;
}

table td{
    border: 3px solid black;
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 60px;
}
.scrs{
    display: inline-block;
    background-color: yellowgreen;
    border: 2px solid black;
    text-align: center;
    font-size: 28px;
    margin-left: 0.5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color:pink;
